:root {
    --clr-light: #FFA1A9;
    --clr-dark: #2A2A63;

    --fs-xl: 2.5rem;
    --fs-lg: 1rem;
    --fs-md: .9rem;
    --fs-sm: .7rem;
    --lh-xl: 3.5rem;
    --fw-xl: 700;
    --fw-lg: 600;
}
@media (max-width: 50em) {
    :root {
        --fs-xl: 2rem;
        --fs-lg: var(--fs-md);
        --fs-md: var(--fs-sm);
        --lh-xl: 3rem;
    }
}
@media (max-width: 40em) {
    :root {
        --fs-xl: 1.8rem;
    }
}


/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: sans-serif;
    list-style: none;
    line-height: 1.5rem;
    color: var(--clr-dark);
}
  
/* Box sizing rules */
*,
*:before,
*::after {
    box-sizing: border-box;
}

::selection {
    user-select: none;
}

/* Height of the window */
html,
body {
    height: 100%;
}
  
/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}
  
/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}
  
/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}
  
/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}
  
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
}
    
*,
*::before,
*::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}

img {
    width: 80px;
}











body {
    width: min(90%, 900px);
    margin-inline: auto;
}

article {
    background-color: var(--clr-light);
}

.profile,
.work,
.interests,
.skills-and-awards,
.education {
    display: grid;
    padding-inline: min(10vh, 1rem);
    padding-block: min(10vh, 1rem);
    grid-template-columns: repeat(5, 1fr);
}
.profile_image,
.work_image,
.interests_image,
.skills-and-awards_image,
.education_image {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: min(30vh, 2rem);
}
.profile_name {
    grid-column: span 2;
    text-transform: uppercase;
    border-bottom: .25rem solid var(--clr-dark);
    border-right: .25rem solid var(--clr-dark);
    padding-bottom: min(30vh, 1rem);
    padding-left: min(30vh, 1rem);
}
.profile_name > h1 {
    font-size: var(--fs-xl);
    line-height: var(--lh-xl);
    font-weight: var(--fw-xl);
}
.profile_address {
    grid-column: span 2;
    font-size: var(--fs-md);
    border-bottom: .25rem solid var(--clr-dark);
    padding-bottom: min(30vh, 1rem);
    padding-left: min(10vh, 1.2rem);
}

.work_years_data,
.education_years_data {
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: .25rem solid var(--clr-dark);
    padding-bottom: min(30vh, 1rem);
    padding-left: min(10vh, 1.2rem);
}
.work_years_detail,
.education_years_detail {
    display: flex;
    gap: 4rem;
}
.year {
    font-size: var(--fs-md);
}
p {
    font-size: var(--fs-md);
}
p > span {
    font-weight: var(--fw-lg);
}

.interests_feilds {
    grid-column: span 4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    border-bottom: .25rem solid var(--clr-dark);
}
.interests_feilds > .fig {
    display: flex;
    gap: 3rem;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skills-and-awards_area {
    font-size: .9rem;
    border-bottom: .25rem solid var(--clr-dark);
    padding-bottom: min(30vh, 2rem);
    padding-left: min(30vh, 1rem);
    grid-column: span 2;
}
.skills-and-awards_area > ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.skills-and-awards_data {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-bottom: .25rem solid var(--clr-dark);
    border-left: .25rem solid var(--clr-dark);
    padding-bottom: min(30vh, 2rem);
    padding-left: min(30vh, 1rem);
}
.skills-and-award_range {
    display: flex;
    gap: 1.5rem;
}
.skills-and-awards_years_detail {
    display: flex;
    gap: 2rem;
}
.skills-and-awards_range_detail, .skills-and-awards_range_name {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.skills-and-award_years > ul {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.skills-and-award_org > ul {
    display: flex;
    flex-direction: column;
    gap: .9rem;
    font-size: .8rem;
}

.skill-dot {
    display: block;
}
.dot {
    height: 18px;
    width: 18px;
    background-color: var(--clr-dark);
    border-radius: 50%;
    display: inline-block;
    margin-right: .3rem;
}

@media (max-width: 50rem) {
    .work_years_detail, .education_years_detail {
        flex-direction: column;
        gap: 0rem;
    }

    .dot {
        height: 12px;
        width: 12px;
        background-color: var(--clr-dark);
        border-radius: 50%;
        display: inline-block;
        margin-right: .3rem;
    }

    .skills-and-awards_data {
        grid-column: span 2;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        border-bottom: .25rem solid var(--clr-dark);
        border-left: .25rem solid var(--clr-dark);
        padding-bottom: min(30vh, 2rem);
        padding-left: min(30vh, 1rem);
    }

    .skills-and-awards_years_detail {
        flex-direction: column;
        gap: 0rem;
    }
}

@media (min-width: 40em) {
    .range-dot {
        display: none;
    }
}

@media (max-width: 40em) {
    .profile_image {
        grid-row: span 2;
    }
    .profile > .profile_name {
        grid-column: span 4;
        border: none;
    }
    .profile > .profile_address {
        grid-column: span 4;
    }
    .profile > .profile_name, .profile_address {
        grid-row: span 1;
        border-right:none;
    }
    .profile > .profile_address {
        border-bottom: .25rem solid var(--clr-dark);
    }

    .work_years_detail, .education_years_detail {
        gap: .5rem;
    }

    .skills-and-awards_range_detail {
        display: none;
    }

    .interests_feilds > .fig {
        flex-direction: column;
        text-align: center;
        margin-bottom: 1rem;
    }
}
@media (max-width: 25em) {
    .profile {
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }
    .profile > .profile_name {
        padding-left: 0;
    }
    .profile > .profile_address {
        padding-left: 0;
    }

    .work, .education, .interests {
        grid-template-columns: repeat(1, 1fr);
    }

    .skills-and-awards {
        grid-template-columns: repeat(1, 1fr);
    }

    .skills-and-awards_range_detail, .skills-and-awards_range_name {
        display: block;
        gap: 0rem;
        border: none;
    }

    .skills-and-awards_area {
        border: none;
    }

    .skills-and-awards_data {
        border: none; 
        border-bottom: .25rem solid var(--clr-dark);
    }

    .skills-and-awards_years_detail {
        flex-direction: row;
        gap: 2.5rem;
    }

    .range-dot {
        display: none;
    }
}